
BCGL/BCGL/BCGL.Android/obj/Debug/90/_TelemetryProps
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/assets/BCGL.dll
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/assets/BCGL.pdb
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/bin/classes.zip
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/bin/com.companyname.bcgl.apk
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.arm64-v8a.o
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.arm64-v8a.s
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.armeabi-v7a.o
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.armeabi-v7a.s
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.x86.o
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.x86.s
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.x86_64.o
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.x86_64.s
BCGL/BCGL/BCGL.Android/obj/Debug/90/app_shared_libraries/arm64-v8a/libxamarin-app.so
BCGL/BCGL/BCGL.Android/obj/Debug/90/app_shared_libraries/armeabi-v7a/libxamarin-app.so
BCGL/BCGL/BCGL.Android/obj/Debug/90/app_shared_libraries/x86/libxamarin-app.so
BCGL/BCGL/BCGL.Android/obj/Debug/90/app_shared_libraries/x86_64/libxamarin-app.so
BCGL/BCGL/BCGL.Android/obj/Debug/90/BCGL.Android.csprojAssemblyReference.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/build.props
BCGL/BCGL/BCGL.Android/obj/Debug/90/buildid.txt
BCGL/BCGL/BCGL.Android/obj/Debug/90/designtime/build.props
BCGL/BCGL/BCGL.Android/obj/Debug/90/BCGL.Android.csprojAssemblyReference.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/BCGL.Android.csprojAssemblyReference.cache
*.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/assets/BCGL.Android.dll
BCGL/BCGL/BCGL.Android/obj/Debug/90/_TelemetryProps
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/assets/BCGL.Android.dll
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/assets/BCGL.Android.pdb
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/assets/BCGL.dll
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/assets/BCGL.pdb
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/assets/Xamarin.Forms.Platform.Android.dll
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/bin/classes.zip
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/bin/com.companyname.bcgl.apk
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.arm64-v8a.o
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.arm64-v8a.s
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.armeabi-v7a.o
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.armeabi-v7a.s
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.x86.o
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.x86.s
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.x86_64.o
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.x86_64.s
BCGL/BCGL/BCGL.Android/obj/Debug/90/app_shared_libraries/arm64-v8a/libxamarin-app.so
BCGL/BCGL/BCGL.Android/obj/Debug/90/app_shared_libraries/armeabi-v7a/libxamarin-app.so
BCGL/BCGL/BCGL.Android/obj/Debug/90/app_shared_libraries/x86/libxamarin-app.so
BCGL/BCGL/BCGL.Android/obj/Debug/90/app_shared_libraries/x86_64/libxamarin-app.so
BCGL/BCGL/BCGL.Android/obj/Debug/90/BCGL.Android.csproj.CoreCompileInputs.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/BCGL.Android.csproj.FileListAbsolute.txt
BCGL/BCGL/BCGL.Android/obj/Debug/90/BCGL.Android.csprojAssemblyReference.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/BCGL.Android.dll
BCGL/BCGL/BCGL.Android/obj/Debug/90/BCGL.Android.pdb
BCGL/BCGL/BCGL.Android/obj/Debug/90/build.props
BCGL/BCGL/BCGL.Android/obj/Debug/90/buildid.txt
BCGL/BCGL/BCGL.Android/obj/Debug/90/customview-map.txt
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/layout_tabbar.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/layout_toolbar.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-anydpi-v26_icon.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-anydpi-v26_icon_round.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-hdpi_icon.png.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-hdpi_launcher_foreground.png.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-mdpi_icon.png.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-mdpi_launcher_foreground.png.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-xhdpi_icon.png.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-xhdpi_launcher_foreground.png.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-xxhdpi_icon.png.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-xxhdpi_launcher_foreground.png.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-xxxhdpi_icon.png.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-xxxhdpi_launcher_foreground.png.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/values_colors.arsc.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/values_styles.arsc.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/libraryprojectimports.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/12/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/12/jl/flat/12.flata
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/13/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/13/jl/flat/13.flata
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/17/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/17/jl/flat/17.flata
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/19/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/19/jl/flat/19.flata
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/26/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/26/jl/flat/26.flata
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/30/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/30/jl/flat/30.flata
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/32/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/32/jl/flat/32.flata
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/33/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/33/jl/flat/33.flata
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/34/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/34/jl/flat/34.flata
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/38/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/38/jl/flat/xml_xamarin_essentials_fileprovider_file_paths.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/39/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/39/jl/flat/anim_enterfromleft.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/39/jl/flat/anim_enterfromright.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/39/jl/flat/anim_exittoleft.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/39/jl/flat/anim_exittoright.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/39/jl/flat/layout_bottomtablayout.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/39/jl/flat/layout_flyoutcontent.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/39/jl/flat/layout_rootlayout.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/39/jl/flat/layout_shellcontent.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/39/jl/flat/values_styles.arsc.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/resolvedassemblies.hash
