
BCGL/BCGL/BCGL.Android/obj/Debug/90/_TelemetryProps
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/assets/BCGL.dll
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/assets/BCGL.pdb
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/bin/classes.zip
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/bin/com.companyname.bcgl.apk
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.arm64-v8a.o
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.arm64-v8a.s
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.armeabi-v7a.o
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.armeabi-v7a.s
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.x86.o
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.x86.s
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.x86_64.o
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.x86_64.s
BCGL/BCGL/BCGL.Android/obj/Debug/90/app_shared_libraries/arm64-v8a/libxamarin-app.so
BCGL/BCGL/BCGL.Android/obj/Debug/90/app_shared_libraries/armeabi-v7a/libxamarin-app.so
BCGL/BCGL/BCGL.Android/obj/Debug/90/app_shared_libraries/x86/libxamarin-app.so
BCGL/BCGL/BCGL.Android/obj/Debug/90/app_shared_libraries/x86_64/libxamarin-app.so
BCGL/BCGL/BCGL.Android/obj/Debug/90/BCGL.Android.csprojAssemblyReference.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/build.props
BCGL/BCGL/BCGL.Android/obj/Debug/90/buildid.txt
BCGL/BCGL/BCGL.Android/obj/Debug/90/designtime/build.props
BCGL/BCGL/BCGL.Android/obj/Debug/90/BCGL.Android.csprojAssemblyReference.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/BCGL.Android.csprojAssemblyReference.cache
*.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/assets/BCGL.Android.dll
BCGL/BCGL/BCGL.Android/obj/Debug/90/_TelemetryProps
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/assets/BCGL.Android.dll
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/assets/BCGL.Android.pdb
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/assets/BCGL.dll
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/assets/BCGL.pdb
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/assets/Xamarin.Forms.Platform.Android.dll
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/bin/classes.zip
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/bin/com.companyname.bcgl.apk
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.arm64-v8a.o
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.arm64-v8a.s
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.armeabi-v7a.o
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.armeabi-v7a.s
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.x86.o
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.x86.s
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.x86_64.o
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.x86_64.s
BCGL/BCGL/BCGL.Android/obj/Debug/90/app_shared_libraries/arm64-v8a/libxamarin-app.so
BCGL/BCGL/BCGL.Android/obj/Debug/90/app_shared_libraries/armeabi-v7a/libxamarin-app.so
BCGL/BCGL/BCGL.Android/obj/Debug/90/app_shared_libraries/x86/libxamarin-app.so
BCGL/BCGL/BCGL.Android/obj/Debug/90/app_shared_libraries/x86_64/libxamarin-app.so
BCGL/BCGL/BCGL.Android/obj/Debug/90/BCGL.Android.csproj.CoreCompileInputs.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/BCGL.Android.csproj.FileListAbsolute.txt
BCGL/BCGL/BCGL.Android/obj/Debug/90/BCGL.Android.csprojAssemblyReference.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/BCGL.Android.dll
BCGL/BCGL/BCGL.Android/obj/Debug/90/BCGL.Android.pdb
BCGL/BCGL/BCGL.Android/obj/Debug/90/build.props
BCGL/BCGL/BCGL.Android/obj/Debug/90/buildid.txt
BCGL/BCGL/BCGL.Android/obj/Debug/90/customview-map.txt
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/layout_tabbar.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/layout_toolbar.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-anydpi-v26_icon.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-anydpi-v26_icon_round.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-hdpi_icon.png.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-hdpi_launcher_foreground.png.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-mdpi_icon.png.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-mdpi_launcher_foreground.png.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-xhdpi_icon.png.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-xhdpi_launcher_foreground.png.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-xxhdpi_icon.png.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-xxhdpi_launcher_foreground.png.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-xxxhdpi_icon.png.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/mipmap-xxxhdpi_launcher_foreground.png.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/values_colors.arsc.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/flat/values_styles.arsc.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/libraryprojectimports.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/12/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/12/jl/flat/12.flata
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/13/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/13/jl/flat/13.flata
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/17/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/17/jl/flat/17.flata
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/19/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/19/jl/flat/19.flata
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/26/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/26/jl/flat/26.flata
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/30/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/30/jl/flat/30.flata
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/32/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/32/jl/flat/32.flata
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/33/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/33/jl/flat/33.flata
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/34/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/34/jl/flat/34.flata
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/38/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/38/jl/flat/xml_xamarin_essentials_fileprovider_file_paths.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/39/jl/files.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/39/jl/flat/anim_enterfromleft.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/39/jl/flat/anim_enterfromright.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/39/jl/flat/anim_exittoleft.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/39/jl/flat/anim_exittoright.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/39/jl/flat/layout_bottomtablayout.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/39/jl/flat/layout_flyoutcontent.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/39/jl/flat/layout_rootlayout.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/39/jl/flat/layout_shellcontent.xml.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/lp/39/jl/flat/values_styles.arsc.flat
BCGL/BCGL/BCGL.Android/obj/Debug/90/resolvedassemblies.hash

## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# Visual Studio (>=2015) project-specific, machine local files
.vs/
.vs\

# User-specific files
*.suo
*.user
*.sln.docstates
*.userprefs

# ignore Xamarin.Android Resource.Designer.cs files
**/*.Droid/**/[Rr]esource.[Dd]esigner.cs
**/*.Android/**/[Rr]esource.[Dd]esigner.cs
**/Android/**/[Rr]esource.[Dd]esigner.cs
**/Droid/**/[Rr]esource.[Dd]esigner.cs

**\*.Droid\**\[Rr]esource.[Dd]esigner.cs
**\*.Android\**\[Rr]esource.[Dd]esigner.cs
**\Android\**\[Rr]esource.[Dd]esigner.cs
**\Droid\**\[Rr]esource.[Dd]esigner.cs

# Xamarin Components
Components/
Components\

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/

[Dd]ebug\
[Dd]ebugPublic\
[Rr]elease\
x64\
build\
bld\
[Bb]in\
[Oo]bj\

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
[Tt]est[Rr]esult*\

#NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c
[Dd]ebugPS\
[Rr]eleasePS\

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
ipch\

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# TFS 2012 Local Workspace
$tf/
$tf\

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
_ReSharper*\

# JustCode is a .NET coding addin-in
.JustCode

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# NCrunch
*.ncrunch*
_NCrunch_*
.*crunch*.local.xml

# MightyMoose
*.mm.*
AutoTest.Net/
AutoTest.Net\

# Web workbench (sass)
.sass-cache/
.sass-cache\

# Installshield output folder
[Ee]xpress/
[Ee]xpress\

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

DocProject\buildhelp\
DocProject\Help\*.HxT
DocProject\Help\*.HxC
DocProject\Help\*.hhc
DocProject\Help\*.hhk
DocProject\Help\*.hhp
DocProject\Help\Html2
DocProject\Help\html

# Click-Once directory
publish/
publish\

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml

# NuGet Packages Directory
packages/
*.nuget.targets
*.lock.json
*.nuget.props
packages\

## TODO: If the tool you use requires repositories.config uncomment the next line
#!packages/repositories.config

# Enable "build/" folder in the NuGet Packages folder since NuGet packages use it for MSBuild targets
# This line needs to be after the ignore of the build folder (and the packages folder if the line above has been uncommented)
!packages/build/
!packages\build\

# Windows Azure Build Output
csx/
*.build.csdef
csx\

# Windows Store app package directory
AppPackages/
AppPackages\

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
.DS_Store
*.bak
sql\
ClientBin\
node_modules\

# RIA/Silverlight projects
Generated_Code/
Generated_Code\

# Backup & report files from converting an old project file to a newer
# Visual Studio version. Backup files are not needed, because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
_UpgradeReport_Files\
Backup*\

# SQL Server files
*.mdf
*.ldf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings

# Microsoft Fakes
FakesAssemblies/
FakesAssemblies\

.vscode/settings.json
