
BCGL/BCGL/BCGL.Android/obj/Debug/90/_TelemetryProps
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/assets/BCGL.dll
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/assets/BCGL.pdb
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/bin/classes.zip
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/bin/com.companyname.bcgl.apk
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.arm64-v8a.o
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.arm64-v8a.s
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.armeabi-v7a.o
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.armeabi-v7a.s
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.x86.o
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.x86.s
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.x86_64.o
BCGL/BCGL/BCGL.Android/obj/Debug/90/android/environment.x86_64.s
BCGL/BCGL/BCGL.Android/obj/Debug/90/app_shared_libraries/arm64-v8a/libxamarin-app.so
BCGL/BCGL/BCGL.Android/obj/Debug/90/app_shared_libraries/armeabi-v7a/libxamarin-app.so
BCGL/BCGL/BCGL.Android/obj/Debug/90/app_shared_libraries/x86/libxamarin-app.so
BCGL/BCGL/BCGL.Android/obj/Debug/90/app_shared_libraries/x86_64/libxamarin-app.so
BCGL/BCGL/BCGL.Android/obj/Debug/90/BCGL.Android.csprojAssemblyReference.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/build.props
BCGL/BCGL/BCGL.Android/obj/Debug/90/buildid.txt
BCGL/BCGL/BCGL.Android/obj/Debug/90/designtime/build.props
BCGL/BCGL/BCGL.Android/obj/Debug/90/BCGL.Android.csprojAssemblyReference.cache
BCGL/BCGL/BCGL.Android/obj/Debug/90/BCGL.Android.csprojAssemblyReference.cache
*.cache
